In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [4]:
df = pd.read_csv('Cars24_Scrapped_Data.csv')

In [5]:
df.sample(10)

,city,year,company,car_name,name,model,price,kms_driven,owner,fuel_type,car_link
1051,Mumbai,2020,MG,HECTOR PLUS,MG HECTOR PLUS,NaN,1827199,"17,984",1,Petrol,https://www.cars24.com/buy-used-mg-hector-plus...
904,Mumbai,2012,Maruti,Swift Dzire,Maruti Swift Dzire,Manual,441299,"50,487",1,Diesel,https://www.cars24.com/buy-used-maruti-swift-d...
3350,Hyderabad,2018,Maruti,Swift,Maruti Swift,Manual,743599,"55,802",1,Diesel,https://www.cars24.com/buy-used-maruti-swift-2...
2,Pune,2020,Tata,Tiago,Tata Tiago,Manual,680399,"8,118",1,Petrol,https://www.cars24.com/buy-used-tata-tiago-202...
1854,Ahmedabad,2017,Hyundai,Grand i10,Hyundai Grand i10,Manual,503199,"9,239",2,Petrol,https://www.cars24.com/buy-used-hyundai-grand-...
2616,Chennai,2014,Maruti,Wagon R 1.0,Maruti Wagon R 1.0,Manual,364099,"54,684",2,Petrol,https://www.cars24.com/buy-used-maruti-wagon-r...
1379,New_Delhi,2018,Ford,Ecosport,Ford Ecosport,Manual,740399,"22,775",2,Petrol,https://www.cars24.com/buy-used-ford-ecosport-...
2601,Chennai,2019,Maruti,Baleno,Maruti Baleno,Manual,701399,"14,506",1,Petrol,https://www.cars24.com/buy-used-maruti-baleno-...
599,Mumbai,2019,Maruti,Baleno,Maruti Baleno,Manual,694299,"44,408",1,Petrol,https://www.cars24.com/buy-used-maruti-baleno-...
880,Mumbai,2021,Maruti,Alto,Maruti Alto,Manual,449699,"3,401",1,Petrol,https://www.cars24.com/buy-used-maruti-alto-20...

In [6]:
df.shape

(3437, 11)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3437 entries, 0 to 3436
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        3437 non-null   object
 1   year        3437 non-null   int64
 2   company     3437 non-null   object
 3   car_name    3437 non-null   object
 4   name        3437 non-null   object
 5   model       3390 non-null   object
 6   price       3437 non-null   int64
 7   kms_driven  3437 non-null   object
 8   owner       3437 non-null   int64
 9   fuel_type   3437 non-null   object
 10  car_link    3437 non-null   object
dtypes: int64(3), object(8)
memory usage: 295.5+ KB

In [8]:
backup = df.copy()

In [9]:
df['kms_driven']=df['kms_driven'].replace(",","",regex=True)
df['kms_driven']=df['kms_driven'].astype(int)
df['kms_driven'].head()

0    16049
1    41569
2     8118
3    63143
4     2530
Name: kms_driven, dtype: int32

In [10]:
df['price']=df['price'].replace(",","",regex=True)
df['price']=df['price'].astype(int)
df['price'].head()

0    963799
1    513399
2    680399
3    676799
4    395099
Name: price, dtype: int32

In [11]:
df.sample(10)

,city,year,company,car_name,name,model,price,kms_driven,owner,fuel_type,car_link
1336,New_Delhi,2021,Toyota,YARIS,Toyota YARIS,Manual,944799,13490,1,Petrol,https://www.cars24.com/buy-used-toyota-yaris-2...
2754,Chennai,2017,Maruti,Baleno,Maruti Baleno,Manual,660899,61979,1,Petrol,https://www.cars24.com/buy-used-maruti-baleno-...
487,Mumbai,2014,Maruti,Wagon R 1.0,Maruti Wagon R 1.0,Manual,358899,13712,1,Petrol,https://www.cars24.com/buy-used-maruti-wagon-r...
904,Mumbai,2012,Maruti,Swift Dzire,Maruti Swift Dzire,Manual,441299,50487,1,Diesel,https://www.cars24.com/buy-used-maruti-swift-d...
708,Mumbai,2015,Toyota,Corolla Altis,Toyota Corolla Altis,Automatic,916899,60049,1,Petrol,https://www.cars24.com/buy-used-toyota-corolla...
2186,Ahmedabad,2018,Maruti,Baleno,Maruti Baleno,Manual,557399,132544,1,Petrol + CNG,https://www.cars24.com/buy-used-maruti-baleno-...
1142,New_Delhi,2015,Honda,Brio,Honda Brio,Automatic,458999,25981,2,Petrol,https://www.cars24.com/buy-used-honda-brio-201...
3017,Bengaluru,2020,Tata,NEXON,Tata NEXON,Automatic,1323299,3702,1,Petrol,https://www.cars24.com/buy-used-tata-nexon-202...
2259,Chennai,2018,Hyundai,Eon,Hyundai Eon,Manual,367499,9142,1,Petrol,https://www.cars24.com/buy-used-hyundai-eon-20...
283,Pune,2015,Hyundai,Elite i20,Hyundai Elite i20,Manual,587399,42587,1,Diesel,https://www.cars24.com/buy-used-hyundai-elite-...

In [12]:
df.to_csv('Cleaned_Car_data.csv')

In [13]:
X=df[['name','company','year','kms_driven','fuel_type']]
y=df['price']

In [14]:
X.shape

(3437, 5)

In [15]:
y.shape

(3437,)

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [17]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [18]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

In [19]:
lr=LinearRegression()

In [20]:
pipe=make_pipeline(column_trans,lr)

In [21]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3  ', 'Audi A4  ', 'Audi A6  ', 'Audi Q3  ', 'Audi Q5  ',
       'BMW 3 Series ', 'BMW 5 Series ', 'Datsun Go  ', 'Datsun Redi Go ',
       'Ford Ecosport  ', 'Ford Endeavour  ', 'Ford FREESTYLE  ',
       'Ford Figo  ', 'Ford Figo Aspire ', 'Ford New Figo ',
       'Honda Amaze  ', 'Honda BR...
       'Volkswagen Jetta  ', 'Volkswagen Polo  ', 'Volkswagen Vento  '],
      dtype=object),
                                                                            array(['Audi', 'BMW', 'Datsun', 'Ford', 'Honda', 'Hyundai', 'Jaguar',
       'Jeep', 'KIA', 'MG', 'Mahindra', 'Maruti', 'Mercedes', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen'], dtype=object),
                                                                            array(['Diesel', 'Petrol', 'Petrol + CNG', 'Petrol + LPG'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [22]:
y_pred=pipe.predict(X_test)

In [23]:
r2_score(y_test,y_pred)

0.8620019595606174

In [24]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [25]:
np.argmax(scores)

240

In [26]:
scores[np.argmax(scores)]

0.9306442285476542

In [27]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.9306442285476542

In [28]:
import pickle

In [29]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))