<h3>Importing the Libraries Required </h3>

In [1]:
import urllib
import time
import json
import numpy as np
import pandas as pd
from tqdm import tqdm
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from bs4 import BeautifulSoup
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import NoSuchElementException

<h3>Using Selenium For Auto Scrolling the Web-Page and Extracting the The Page Source</h3>

In [2]:
driver = webdriver.Chrome(executable_path=r'D:\\Mission Data Science\\Web Driver\\chromedriver.exe')
driver.wait = WebDriverWait(driver, 5)
driver.maximize_window()
driver.get("https://www.cars24.com/buy-used-car?sort=P&storeCityId=777&pinId=700001")
time.sleep(7)


height = driver.execute_script("return document.documentElement.scrollHeight")
lastheight = 0
while True:
    if lastheight == height:
        break
    lastheight = height
    driver.execute_script("window.scrollTo(0, " + str(height) + ");")
    time.sleep(10)
    height = driver.execute_script("return document.documentElement.scrollHeight")
    
    
# Using BeautifulSoup To Store the Page Source in Object Called Soup

soup = BeautifulSoup(driver.page_source)
driver.quit()

C:\Users\Jay\AppData\Local\Temp/ipykernel_4384/462879326.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=r'D:\\Mission Data Science\\Web Driver\\chromedriver.exe')

<h3>Storing the page source in object called Soup and viewing the text</h3>

In [3]:
soup.text

"\n\n\n\n\n\n\n\n\n\n\nUsed Cars in Kolkata - Second Hand Cars in Kolkata for Sale\nKolkata  Popular CitiesUsed cars in BengaluruPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in BengaluruUsed cars in ChennaiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in ChennaiUsed cars in New DelhiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in New DelhiUsed cars in MumbaiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in MumbaiUsed cars in PunePopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in PuneUsed cars in HyderabadPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in HyderabadUsed cars in KolkataPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in KolkataUsed cars in AhmedabadPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in AhmedabadUsed cars in JaipurPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in JaipurUsed cars in ChandigarhPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in ChandigarhBuy used carSell used carLoginRC Transfers StatusFAQBecome a partnerBuy Car: 9 AM - 9 PM1800 258 5656HomeUsed CarsKolkataFind your dream car with usSort By:Best Match  PriceModel YearKMs DrivenMake & ModelRTOMore FiltersUsed Cars in Kolkata2015 Hyundai Elite i20ASTA 1.2 Manual1,06,265 km1st OwnerPetrol₹9,928/month₹4,46,299Zero downpayment2013 Maruti Alto 800LXI Manual4,525 km1st OwnerPetrol₹5,612/month₹2,52,299Zero downpayment2020 Maruti New  Wagon-RVXI 1.0 Manual6,845 km1st OwnerPetrol₹12,668/month₹5,69,499Zero downpayment2016 Maruti Alto 800VXI Manual2,152 km1st OwnerPetrol₹6,237/month₹2,80,399Zero downpayment2019 Honda CityVX MT PETROL Manual5,413 km1st OwnerPetrol₹23,764/month₹10,68,299Zero downpaymentFilter By Popular BrandMarutiHyundaiHondaTataToyota2020 Maruti New  Wagon-RVXI 1.0 Manual819 km1st OwnerPetrol₹12,668/month₹5,69,499Zero downpayment2014 Hyundai i10SPORTZ 1.1 IRDE2 Manual15,744 km1st OwnerPetrol₹7,623/month₹3,42,699Zero downpayment2019 Ford Figo Aspire1.2 Trend+ Petrol Manual8,807 km1st OwnerPetrol₹12,866/month₹5,78,399Zero downpayment2020 Volkswagen PoloTrendline 1.0 L Petrol Manual24,157 km1st OwnerPetrol₹12,985/month₹5,83,739Zero downpayment2018 Volkswagen PoloCOMFORTLINE 1.0 PETROL Manual13,682 km1st OwnerPetrol₹11,772/month₹5,29,199Zero downpayment2015 Maruti Alto K10VXI Manual14,421 km1st OwnerPetrol₹6,782/month₹3,04,899Zero downpaymentFilter By BudgetCars under 2 lakhCars between 2 lakh - 5 lakhCars between 5 lakh - 10 lakhCars above 10 lakh2019 Maruti Alto 800VXI Manual53,341 km1st OwnerPetrol₹6,493/month₹2,91,899Zero downpayment2019 Hyundai NEW SANTROSPORTZ 1.1 Manual10,872 km1st OwnerPetrol₹10,493/month₹4,71,699Zero downpayment2014 Maruti SwiftVXI Manual37,285 km1st OwnerPetrol₹8,653/month₹3,88,999Zero downpayment2018 Hyundai Grand i10ASTA 1.2 KAPPA VTVT Manual17,529 km2nd OwnerPetrol₹10,804/month₹4,85,699Zero downpayment2018 Hyundai Elite i20Magna Executive 1.2 Manual37,685 km1st OwnerPetrol₹11,329/month₹5,09,299Zero downpayment2018 Maruti Alto K10VXI Manual43,769 km1st OwnerPetrol₹6,831/month₹3,07,099Zero downpaymentFilter By Fuel TypePetrolDieselCNGLPGElectricHybrid2014 Maruti Wagon R StingrayVXI Manual36,923 km2nd OwnerPetrol₹7,129/month₹3,20,499Zero downpayment2018 Maruti SwiftVXI Manual21,668 km1st OwnerPetrol₹11,965/month₹5,37,899Zero downpayment2014 Honda CityVX CVT PETROL Automatic34,687 km1st OwnerPetrol₹13,425/month₹6,03,499Zero downpayment2016 Volkswagen VentoHIGHLINE PETROL Manual24,788 km1st OwnerPetrol₹11,827/month₹5,31,699Zero downpayment2019 Maruti DzireVXI Manual16,653 km1st OwnerPetrol₹15,470/month₹6,95,465Zero downpayment2018 Ford Ecosport1.5 TITANIUM TI VCT Manual17,127 km1st OwnerPetrol₹16,608/month₹7,46,599Zero downpaymentFilter By Body TypeHatchbackSedanSUVLuxury SedanLuxury SUV2014 Maruti Swift DzireVXI 1.2 BS IV Manual75,282 km2nd OwnerPetrol₹8,764/month₹3,93,999Zero downpayment2018 Hyundai Creta1.6 SX AT CRDI Automatic37,362 km1st OwnerDiesel₹27,523/month₹12,37,299Zero downpayment2017 Hyundai Grand i10MAGNA 1.2 VTVT Manual25,032 km1st OwnerPetrol₹9,300/month₹4,18,099Zero downpayment2018 Maruti BalenoDELTA 1.2 K12 Manual43,927 km1st OwnerPetrol₹11,465/month₹5,15,399Zero downpayment12-Months Free Warranty!Free 12 months warranty on all cars to safeguard you from unforeseen repair and maintenance costsKNOW MORE2013 Maruti Swift DzireVXI 1.2 BS IV Manual64,056 km1st OwnerPetrol₹7,828/month₹3,51,899Zero downpayment2015 Maruti Alto 800LXI Manual50,939 km1st OwnerPetrol₹5,626/month₹2,52,899Zero downpayment2018 Hyundai XcentE PLUS Manual14,107 km1st OwnerPetrol₹10,622/month₹4,77,504Zero downpayment2019 Maruti BalenoDELTA 1.2 K12 Manual3,057 km1st OwnerPetrol₹13,901/month₹6,24,899Zero downpayment2018 Maruti BalenoDELTA 1.2 K12 Manual27,019 km1st OwnerPetrol₹11,885/month₹5,34,299Zero downpayment2014 Maruti Alto 800LXI Manual50,468 km1st OwnerPetrol₹5,461/month₹2,45,499Zero downpayment2016 Maruti Vitara BrezzaZDI PLUS DUAL TONE Manual95,285 km1st OwnerDiesel₹14,443/month₹6,49,299Zero downpayment2014 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual66,617 km1st OwnerPetrol₹7,966/month₹3,58,099Zero downpayment2018 Hyundai NEW SANTROSPORTZ 1.1 Manual12,893 km1st OwnerPetrol₹10,381/month₹4,66,699Zero downpayment2019 Hyundai VENUEE MT 1.2  KAPPA Manual14,736 km1st OwnerPetrol₹16,145/month₹7,25,799Zero downpayment2018 Maruti BalenoDELTA DDIS 190 Manual17,649 km2nd OwnerDiesel₹13,560/month₹6,09,599Zero downpayment2019 Mahindra XUV 3OOW8 (O) Dual tone Diesel Manual30,661 km1st OwnerDiesel₹20,972/month₹9,42,799Zero downpayment2018 Renault CapturRXE PETROL MT Manual6,594 km1st OwnerPetrol₹14,628/month₹6,57,599Zero downpayment2018 Hyundai XcentSX 1.2 Manual10,930 km2nd OwnerPetrol₹12,292/month₹5,52,599Zero downpayment2014 Maruti Wagon R 1.0VXI Manual32,419 km1st OwnerPetrol₹7,205/month₹3,23,899Zero downpayment2014 Maruti Wagon R 1.0VXI Manual52,776 km1st OwnerPetrol₹6,635/month₹2,98,299Zero downpayment2014 Ford Ecosport1.5TITANIUM TDCI Manual1,38,721 km1st OwnerDiesel₹9,663/month₹4,34,399Zero downpayment2015 Ford Ecosport1.5 TITANIUM TI VCT Manual34,276 km1st OwnerPetrol₹11,801/month₹5,30,499Zero downpayment2018 Maruti Alto 800VXI Manual10,855 km1st OwnerPetrol₹6,902/month₹3,10,299Zero downpayment2017 Maruti Wagon R 1.0VXI Manual35,771 km1st OwnerPetrol₹8,685/month₹3,90,421Zero downpayment2019 Honda WR-V1.2 i-VTEC S MT Manual19,649 km1st OwnerPetrol₹15,315/month₹6,88,499Zero downpayment2019 Maruti SwiftVXI Manual61,045 km1st OwnerPetrol₹12,150/month₹5,46,199Zero downpayment2018 Maruti SwiftVXI Manual79,338 km1st OwnerPetrol₹11,965/month₹5,37,899Zero downpayment2018 Maruti SwiftVXI Manual74,531 km1st OwnerPetrol₹11,774/month₹5,29,299Zero downpayment2018 Maruti DzireVXI AMT Automatic17,648 km1st OwnerPetrol₹13,164/month₹5,91,799Zero downpayment2018 Maruti SwiftVXI Manual49,855 km1st OwnerPetrol₹11,965/month₹5,37,899Zero downpayment2018 Datsun Go PlusT Manual26,354 km1st OwnerPetrol₹8,626/month₹3,87,799Zero downpayment2018 Maruti Wagon R 1.0VXI AMT Automatic16,043 km3rd OwnerPetrol₹9,965/month₹4,47,999Zero downpayment2015 Maruti Wagon R 1.0VXI Manual28,908 km1st OwnerPetrol₹7,843/month₹3,52,581Zero downpayment2018 Maruti DzireVXI Manual28,936 km1st OwnerPetrol₹12,368/month₹5,55,999Zero downpayment2018 Maruti DzireVXI Manual50,323 km1st OwnerPetrol₹12,855/month₹5,77,899Zero downpayment2019 Maruti DzireVXI AMT Automatic11,526 km1st OwnerPetrol₹13,711/month₹6,16,399Zero downpayment2015 Maruti Wagon R 1.0VXI Manual24,648 km2nd OwnerPetrol₹7,812/month₹3,51,199Zero downpayment2016 Maruti Wagon R 1.0VXI Manual18,638 km1st OwnerPetrol₹8,742/month₹3,92,999Zero downpayment2018 Maruti CiazZETA 1.4 VVT Manual37,942 km1st OwnerPetrol₹14,410/month₹6,47,799Zero downpayment2020 Ford FREESTYLETITANIUM + 1.2 TI-VCT Manual6,671 km1st OwnerPetrol₹14,067/month₹6,32,399Zero downpayment2019 Maruti New  Wagon-RZXI 1.2 Manual24,019 km1st OwnerPetrol₹11,903/month₹5,35,099Zero downpayment2019 Nissan KicksXV PETROL 39,473 km1st OwnerPetrol₹17,093/month₹7,68,399Zero downpayment2018 Ford Figo Aspire1.2 TITANIUM PETROL Manual21,240 km1st OwnerPetrol₹10,724/month₹4,82,099Zero downpayment2019 Maruti New  Wagon-RVXI 1.0 Manual66,193 km1st OwnerPetrol₹11,965/month₹5,37,899Zero downpayment2016 Maruti Wagon R 1.0LXI Manual33,123 km1st OwnerPetrol₹8,593/month₹3,86,299Zero downpayment2018 Honda WR-V1.2 i-VTEC VX MT Manual43,586 km1st OwnerPetrol₹15,478/month₹6,95,799Zero downpayment2018 Maruti Wagon R 1.0VXI AMT Automatic20,545 km1st OwnerPetrol₹10,039/month₹4,51,299Zero downpayment2014 Hyundai Grand i10ASTA 1.2 (O) VTVT Manual68,126 km1st OwnerPetrol₹8,882/month₹3,99,299Zero downpayment2021 Maruti AltoLXI Manual6,579 km1st OwnerPetrol₹8,217/month₹3,69,399Zero downpayment2018 Hyundai NEW SANTROSPORTZ 1.1 Manual14,101 km2nd OwnerPetrol₹9,828/month₹4,41,799Zero downpayment2019 Maruti Alto 800VXI Manual7,142 km1st OwnerPetrol₹7,236/month₹3,25,299Zero downpayment2019 Maruti Alto 800LXI Manual7,834 km1st OwnerPetrol₹6,798/month₹3,05,599Zero downpayment2018 Hyundai Elite i20ASTA 1.2 (O) Manual9,669 km1st OwnerPetrol₹16,085/month₹7,23,099Zero downpayment2020 Tata ALTROZXZ 1.2 Manual7,221 km1st OwnerPetrol₹16,959/month₹7,62,399Zero downpayment2019 Maruti DzireVXI Manual23,016 km1st OwnerPetrol₹15,827/month₹7,11,499Zero downpayment2018 Maruti DzireZXI Plus Manual55,766 km1st OwnerPetrol₹14,757/month₹6,63,399Zero downpayment2018 Volkswagen AmeoHIGHLINE PLUS 1.0 Manual8,945 km1st OwnerPetrol₹13,376/month₹6,01,299Zero downpayment2015 Hyundai i20 Active1.2 S Manual41,589 km1st OwnerPetrol₹11,774/month₹5,29,299Zero downpayment2014 Hyundai Elite i20SPORTZ 1.2 Manual45,941 km1st OwnerPetrol₹10,840/month₹4,87,299Zero downpayment2017 Maruti DzireVXI Manual50,989 km1st OwnerPetrol₹11,972/month₹5,38,199Zero downpayment2016 Hyundai i20 Active1.2 S Manual59,197 km2nd OwnerPetrol₹12,177/month₹5,47,399Zero downpayment2015 Maruti BalenoDELTA 1.2 K12 Manual62,791 km1st OwnerPetrol₹10,112/month₹4,54,599Zero downpayment2019 Maruti S PRESSOVXI PLUS Manual20,948 km2nd OwnerPetrol₹10,328/month₹4,64,299Zero downpayment2018 Maruti Alto K10VXI Manual30,033 km1st OwnerPetrol₹8,357/month₹3,75,673Zero downpayment2019 Maruti AltoLXI Manual10,474 km1st OwnerPetrol₹7,674/month₹3,44,999Zero downpayment2018 Maruti SwiftVXI Manual7,280 km1st OwnerPetrol₹11,965/month₹5,37,899Zero downpayment2014 Maruti SwiftVXI Manual55,233 km2nd OwnerPetrol₹7,774/month₹3,49,499Zero downpayment2020 Ford Ecosport1.5 TREND TI VCT Manual6,831 km1st OwnerPetrol₹17,673/month₹7,94,499Zero downpayment2015 Maruti Wagon R 1.0VXI Manual26,729 km1st OwnerPetrol₹6,991/month₹3,14,299Zero downpayment2014 Honda CityS MT PETROL Manual60,905 km1st OwnerPetrol₹9,799/month₹4,40,499Zero downpayment2018 Hyundai Elite i20SPORTZ 1.2 Manual8,880 km1st OwnerPetrol₹12,868/month₹5,78,499Zero downpayment2018 Maruti Vitara BrezzaVDI OPT Manual71,369 km1st OwnerDiesel₹16,543/month₹7,43,699Zero downpayment2018 Maruti SwiftVXI Manual3,859 km1st OwnerPetrol₹11,965/month₹5,37,899Zero downpayment2012 Maruti Alto K10VXI Manual27,730 km2nd OwnerPetrol₹4,264/month₹1,91,699Zero downpayment2015 Maruti Alto 800LXI Manual5,210 km1st OwnerPetrol₹6,406/month₹2,87,999Zero downpayment2013 Maruti Alto 800LXI Manual30,573 km2nd OwnerPetrol₹4,576/month₹2,05,699Zero downpayment2014 Maruti Alto 800LXI Manual5,498 km1st OwnerPetrol₹4,981/month₹2,23,899Zero downpayment2013 Maruti Alto 800LXI Manual40,904 km2nd OwnerPetrol₹4,391/month₹1,97,399Zero downpayment2018 Maruti Alto 800LXI Manual34,951 km1st OwnerPetrol₹5,866/month₹2,63,699Zero downpayment2018 Maruti SwiftVXI Manual36,988 km1st OwnerPetrol₹11,885/month₹5,34,299Zero downpayment2017 Maruti Alto 800VXI Manual17,152 km1st OwnerPetrol₹5,828/month₹2,61,999Zero downpayment2014 Maruti SwiftVXI Manual31,715 km1st OwnerPetrol₹8,126/month₹3,65,299Zero downpayment2014 Maruti Alto 800LXI Manual27,063 km2nd OwnerPetrol₹4,658/month₹2,09,399Zero downpayment2018 Maruti SwiftVXI Manual30,291 km1st OwnerPetrol₹11,965/month₹5,37,899Zero downpayment2015 Maruti Alto 800LXI Manual42,499 km1st OwnerPetrol₹4,943/month₹2,22,199Zero downpayment2012 Maruti Wagon R 1.0VXI Manual27,560 km1st OwnerPetrol₹5,904/month₹2,65,399Zero downpayment2018 Hyundai Grand i10SPORTZ O 1.2 Manual10,035 km2nd OwnerPetrol₹10,395/month₹4,67,299Zero downpayment2014 Maruti Alto 800LXI Manual1,37,235 km1st OwnerPetrol₹4,585/month₹2,06,099Zero downpayment2017 Hyundai Grand i10SPORTS 1.2 VTVT Manual26,690 km2nd OwnerPetrol₹9,445/month₹4,24,599Zero downpayment2017 Maruti Alto 800VXI Manual55,333 km1st OwnerPetrol₹5,626/month₹2,52,899Zero downpayment2018 Maruti Wagon R 1.0VXI Manual26,466 km1st OwnerPetrol₹8,433/month₹3,79,099Zero downpayment2012 Maruti Swift DzireVXI 1.2 BS IV Manual78,780 km1st OwnerPetrol₹7,292/month₹3,27,799Zero downpayment2013 Maruti Swift DzireVXI 1.2 BS IV Manual34,856 km2nd OwnerPetrol₹8,513/month₹3,82,699Zero downpayment2016 Maruti Alto 800LXI Manual29,821 km1st OwnerPetrol₹5,167/month₹2,32,299Zero downpayment2018 Maruti SwiftVXI Manual16,179 km1st OwnerPetrol₹11,965/month₹5,37,899Zero downpayment2014 Hyundai Grand i10SPORTS 1.2 VTVT Manual42,189 km1st OwnerPetrol₹7,674/month₹3,44,999Zero downpayment2018 Maruti Alto 800LXI Manual30,041 km1st OwnerPetrol₹5,995/month₹2,69,499Zero downpayment2014 Maruti Swift DzireVXI 1.2 BS IV Manual25,910 km2nd OwnerPetrol₹9,594/month₹4,31,299Zero downpayment2019 Hyundai NEW SANTROSPORTZ 1.1 Manual20,366 km2nd OwnerPetrol₹11,534/month₹5,18,499Zero downpayment2019 Tata TiagoXZ+ 1.2 Revotron Manual15,760 km1st OwnerPetrol₹10,795/month₹4,85,299Zero downpayment2014 Maruti Alto 800LXI Manual27,166 km1st OwnerPetrol₹4,880/month₹2,19,399Zero downpayment2013 Honda CityV MT PETROL Manual65,687 km1st OwnerPetrol₹8,135/month₹3,65,699Zero downpayment2019 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual2,716 km1st OwnerPetrol₹13,618/month₹6,12,199Zero downpayment2018 Hyundai Elite i20SPORTZ 1.2 Manual16,520 km1st OwnerPetrol₹14,112/month₹6,34,399Zero downpayment2014 Maruti SwiftZXI Manual46,442 km2nd OwnerPetrol₹8,718/month₹3,91,899Zero downpayment2016 Hyundai Elite i20SPORTZ 1.2 Manual32,958 km3rd OwnerPetrol₹11,672/month₹5,24,699Zero downpayment2019 Maruti Alto 800LXI Manual12,154 km1st OwnerPetrol₹6,615/month₹2,97,399Zero downpayment2018 Maruti DzireVXI Manual25,341 km1st OwnerPetrol₹14,234/month₹6,39,899Zero downpayment2019 Hyundai NEW SANTROSPORTZ 1.1 Manual2,186 km1st OwnerPetrol₹10,893/month₹4,89,699Zero downpayment2016 Hyundai i20 Active1.2 S Manual1,00,898 km1st OwnerPetrol₹10,439/month₹4,69,306Zero downpayment2017 Maruti Alto 800LXI Manual24,009 km1st OwnerPetrol₹6,133/month₹2,75,699Zero downpayment2013 Maruti Swift DzireVXI 1.2 BS IV Manual1,05,553 km1st OwnerPetrol₹7,645/month₹3,43,699Zero downpayment2015 Maruti Swift DzireVXI 1.2 BS IV Manual56,398 km1st OwnerPetrol₹9,214/month₹4,14,199Zero downpayment2013 Hyundai Grand i10SPORTS 1.2 VTVT Manual31,288 km1st OwnerPetrol₹7,258/month₹3,26,299Zero downpayment2012 Maruti SwiftVXI Manual27,326 km1st OwnerPetrol₹7,381/month₹3,31,799Zero downpayment2015 Maruti Alto 800LXI Manual22,271 km1st OwnerPetrol₹5,619/month₹2,52,599Zero downpayment2014 Maruti SwiftVXI Manual45,998 km1st OwnerPetrol₹8,435/month₹3,79,214Zero downpayment2018 Maruti DzireVXI Manual27,656 km1st OwnerPetrol₹13,807/month₹6,20,673Zero downpayment2014 Maruti Wagon R StingrayVXI Manual53,466 km1st OwnerPetrol₹6,909/month₹3,10,599Zero downpayment2016 Maruti Wagon R 1.0VXI Manual82,065 km1st OwnerPetrol₹7,456/month₹3,35,199Zero downpayment2018 Maruti Wagon R 1.0VXI Manual32,523 km1st OwnerPetrol₹8,855/month₹3,98,099Zero downpayment2017 Maruti Wagon R 1.0VXI PLUS Manual81,678 km1st OwnerPetrol₹8,137/month₹3,65,799Zero downpayment2018 Maruti Wagon R 1.0VXI Manual23,927 km1st OwnerPetrol₹9,047/month₹4,06,699Zero downpayment2019 Maruti New  Wagon-RVXI 1.0 Manual13,130 km1st OwnerPetrol₹12,112/month₹5,44,499Zero downpayment2019 Maruti Alto 800VXI Manual5,054 km1st OwnerPetrol₹7,244/month₹3,25,668Zero downpayment2019 Maruti BalenoDELTA 1.2 K12 Manual14,865 km1st OwnerPetrol₹15,200/month₹6,83,299Zero downpayment2015 Hyundai Grand i10MAGNA 1.2 VTVT Manual21,864 km1st OwnerPetrol₹9,254/month₹4,15,999Zero downpayment2018 Maruti DzireZXI Manual34,809 km1st OwnerPetrol₹13,909/month₹6,25,299Zero downpayment2018 Maruti SwiftVXI Manual44,754 km1st OwnerPetrol₹11,965/month₹5,37,899Zero downpayment2018 Maruti SwiftVXI Manual58,032 km1st OwnerPetrol₹11,965/month₹5,37,899Zero downpayment2014 Hyundai Grand i10ASTA 1.2 (O) VTVT Manual34,691 km1st OwnerPetrol₹9,463/month₹4,25,399Zero downpayment2019 Hyundai NEW SANTROASTA 1.1 MT Manual42,117 km1st OwnerPetrol₹11,409/month₹5,12,899Zero downpayment2015 Maruti Wagon R 1.0VXI Manual18,205 km1st OwnerPetrol₹7,846/month₹3,52,719Zero downpayment2015 Maruti Swift DzireVXI 1.2 BS IV Manual1,26,215 km1st OwnerPetrol₹9,151/month₹4,11,399Zero downpayment2016 Maruti Wagon R 1.0VXI Manual50,298 km1st OwnerPetrol₹7,254/month₹3,26,099Zero downpayment2016 Honda CitySV CVT PETROL Automatic21,061 km1st OwnerPetrol₹15,631/month₹7,02,699Zero downpayment2019 Maruti AltoVXI Manual5,481 km1st OwnerPetrol₹7,601/month₹3,41,699Zero downpayment2018 Maruti Wagon R 1.0VXI Manual13,742 km1st OwnerPetrol₹9,525/month₹4,28,199Zero downpayment2018 Hyundai Elite i20Magna Executive 1.2 Manual51,677 km1st OwnerPetrol₹12,355/month₹5,55,399Zero downpayment2018 Maruti BalenoDELTA 1.2 K12 Manual28,366 km1st OwnerPetrol₹12,706/month₹5,71,199Zero downpayment2018 Maruti Alto 800LXI Manual30,451 km1st OwnerPetrol₹6,664/month₹2,99,599Zero downpayment2016 Maruti BalenoZETA 1.2 K12 Manual81,591 km1st OwnerPetrol₹12,368/month₹5,55,999Zero downpayment2018 Ford Ecosport1.5 TITANIUM TI VCT Manual54,158 km1st OwnerPetrol₹17,204/month₹7,73,399Zero downpayment2018 Ford Ecosport1.5 TITANIUM TI VCT Manual31,557 km1st OwnerPetrol₹16,012/month₹7,19,799Zero downpayment2014 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual88,902 km2nd OwnerPetrol₹8,577/month₹3,85,599Zero downpayment2015 Hyundai Elite i20ASTA 1.2 Manual58,075 km2nd OwnerPetrol₹11,516/month₹5,17,699Zero downpayment2018 Maruti Alto 800LXI Manual11,543 km1st OwnerPetrol₹6,747/month₹3,03,299Zero downpayment2014 Maruti Wagon R 1.0VXI Manual64,151 km1st OwnerPetrol₹7,078/month₹3,18,199Zero downpayment2014 Hyundai Elite i20SPORTZ 1.2 Manual62,225 km1st OwnerPetrol₹10,192/month₹4,58,199Zero downpayment2018 Maruti IGNISALPHA 1.2 K12 Manual38,370 km1st OwnerPetrol₹11,362/month₹5,10,799Zero downpayment2018 Maruti Wagon R 1.0VXI Manual22,923 km1st OwnerPetrol₹9,979/month₹4,48,599Zero downpayment2015 Maruti BalenoALPHA 1.2 K12 Manual65,896 km1st OwnerPetrol₹11,491/month₹5,16,599Zero downpayment2020 Maruti AltoVXI Manual6,257 km1st OwnerPetrol₹7,987/month₹3,59,059Zero downpayment2014 Hyundai XcentS 1.2 Manual71,674 km1st OwnerPetrol₹7,401/month₹3,32,699Zero downpaym

In [4]:
car_name =[]
car_model=[]
car_price=[]
#car_info=[]

In [5]:
for car_tag in soup.find_all('div', class_='col-4'): 

    
    car_name=[score.get_text()for score in soup.find_all(name="h2", class_="_3FpCg")]
    
    car_model=[score.get_text() for score in soup.find_all(name="p", class_="cvakB")]
    
    #car_info=[score.get_text() for score in soup.find_all(name="ul", class_="bVR0c") ]
    
    car_price=[score.get_text() for score in soup.find_all(name="div", class_="_7udZZ")]

In [6]:
car_link=[]
car_tag=soup.find_all(name="a", class_="_9Ue0B")
for i in car_tag:
    link=i.get("href")
    car_link.append(link)

In [7]:
km=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[0]:
        km.append(i)
        
len(km)

182

In [8]:
owner=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[1]:
        owner.append(i)
    
len(owner)

182

In [9]:
ctype=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[2]:
        ctype.append(i)
    
len(ctype)

182

In [10]:
print(len(car_link))
print(len(car_name))
print(len(car_model))
#print(len(car_info))
print(len(car_price))
print(len(km))
print(len(owner))
print(len(ctype))

182
182
182
182
182
182
182

In [11]:
d={'Car Name':car_name,'Car model':car_model,'Car Price':car_price,'KM':km,'Owner':owner,'Car Type':ctype,'Car link':car_link}

In [12]:
df = pd.DataFrame(d)
df.head()

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,2015 Hyundai Elite i20,ASTA 1.2 Manual,"₹4,46,299","1,06,265 km",1st Owner,Petrol,https://www.cars24.com/buy-used-hyundai-elite-...
1,2013 Maruti Alto 800,LXI Manual,"₹2,52,299","4,525 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-alto-80...
2,2020 Maruti New Wagon-R,VXI 1.0 Manual,"₹5,69,499","6,845 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-new--wa...
3,2016 Maruti Alto 800,VXI Manual,"₹2,80,399","2,152 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-alto-80...
4,2019 Honda City,VX MT PETROL Manual,"₹10,68,299","5,413 km",1st Owner,Petrol,https://www.cars24.com/buy-used-honda-city-201...

In [13]:
df['Car Name'].str.split(expand=True)
Cyear=df['Car Name'].str.extract(r'(?P<Year>\w+)', expand=True)
df['Year']=Cyear

In [14]:
cname=df['Car Name'].str.replace('\d','')
df['Name']=cname

C:\Users\Jay\AppData\Local\Temp/ipykernel_4384/1061448214.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  cname=df['Car Name'].str.replace('\d','')

In [15]:
data=df.drop(['Car Name'],axis=True)
data.head()

,Car model,Car Price,KM,Owner,Car Type,Car link,Year,Name
0,ASTA 1.2 Manual,"₹4,46,299","1,06,265 km",1st Owner,Petrol,https://www.cars24.com/buy-used-hyundai-elite-...,2015,Hyundai Elite i
1,LXI Manual,"₹2,52,299","4,525 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-alto-80...,2013,Maruti Alto
2,VXI 1.0 Manual,"₹5,69,499","6,845 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-new--wa...,2020,Maruti New Wagon-R
3,VXI Manual,"₹2,80,399","2,152 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-alto-80...,2016,Maruti Alto
4,VX MT PETROL Manual,"₹10,68,299","5,413 km",1st Owner,Petrol,https://www.cars24.com/buy-used-honda-city-201...,2019,Honda City

In [16]:
data['City']='Kolkata'

len(data['City'])

182

In [17]:
data=data.reindex(columns=['City','Year','Name','Car model','Car Price','KM','Owner','Car Type','Car link'])
data.head()

,City,Year,Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,Kolkata,2015,Hyundai Elite i,ASTA 1.2 Manual,"₹4,46,299","1,06,265 km",1st Owner,Petrol,https://www.cars24.com/buy-used-hyundai-elite-...
1,Kolkata,2013,Maruti Alto,LXI Manual,"₹2,52,299","4,525 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-alto-80...
2,Kolkata,2020,Maruti New Wagon-R,VXI 1.0 Manual,"₹5,69,499","6,845 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-new--wa...
3,Kolkata,2016,Maruti Alto,VXI Manual,"₹2,80,399","2,152 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-alto-80...
4,Kolkata,2019,Honda City,VX MT PETROL Manual,"₹10,68,299","5,413 km",1st Owner,Petrol,https://www.cars24.com/buy-used-honda-city-201...

In [18]:
data.to_csv('Cars24_Kolkata.csv')

In [19]:
data['Name'].str.split(expand=True)

            0        1        2     3
0     Hyundai    Elite        i  None
1      Maruti     Alto     None  None
2      Maruti      New  Wagon-R  None
3      Maruti     Alto     None  None
4       Honda     City     None  None
..        ...      ...      ...   ...
177    Maruti     Alto     None  None
178    Maruti        S   PRESSO  None
179    Maruti     Alto     None  None
180  Mahindra  Scorpio     None  None
181    Maruti     Eeco     None  None

[182 rows x 4 columns]