In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv("Data//Cars24_Pune.csv")
df2 = pd.read_csv("Data//Cars24_Delhi.csv")
df3 = pd.read_csv("Data//Cars24_Mumbai.csv")
df4 = pd.read_csv("Data//Cars24_Hyderabad.csv")
df5 = pd.read_csv("Data//Cars24_Chennai.csv")
df6 = pd.read_csv("Data//Cars24_Bengaluru.csv")
df7 = pd.read_csv("Data//Cars24_Ahmedabad.csv")

print("Merging multiple CSV files...")

# merge
main_data = [df1, df2, df3, df4, df5, df6, df7]

data = pd.concat(main_data)

Merging multiple CSV files...

In [3]:
len(data)

3445

In [4]:
data

,Unnamed: 0,City,Year,Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,0,Pune,2021,Nissan MAGNITE,XL Turbo CVT,"₹9,63,799","16,049 km",1st Owner,Petrol,https://www.cars24.com/buy-used-nissan-magnite...
1,1,Pune,2014,Volkswagen Vento,HIGHLINE PETROL Manual,"₹5,13,399","41,569 km",1st Owner,Petrol,https://www.cars24.com/buy-used-volkswagen-ven...
2,2,Pune,2020,Tata Tiago,XZ+ 1.2 Revotron Manual,"₹6,80,399","8,118 km",1st Owner,Petrol,https://www.cars24.com/buy-used-tata-tiago-202...
3,3,Pune,2015,Renault Duster,RXZ 110 4WD Manual,"₹6,76,799","63,143 km",1st Owner,Diesel,https://www.cars24.com/buy-used-renault-duster...
4,4,Pune,2020,Maruti Alto,LXI Manual,"₹3,95,099","2,530 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-alto-20...
...,...,...,...,...,...,...,...,...,...,...
389,389,Ahmedabad,2019,Maruti XL,ALPHA SHVS MT Manual,"₹9,36,999","25,242 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-xl6-201...
390,390,Ahmedabad,2021,Hyundai NEW I,MAGNA 1.2 MT,"₹6,73,199","11,284 km",1st Owner,Petrol,https://www.cars24.com/buy-used-hyundai-new-i2...
391,391,Ahmedabad,2018,Maruti S Cross,ZETA 1.3 SHVS Manual,"₹8,88,099","20,043 km",1st Owner,Diesel,https://www.cars24.com/buy-used-maruti-s-cross...
392,392,Ahmedabad,2018,Datsun Redi Go,T (O) Manual,"₹2,84,599","23,875 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-datsun-redi-go...
393,393,Ahmedabad,2019,Maruti Alto,LXI Manual,"₹3,52,899","78,986 km",1st Owner,Petrol + CNG,https://www.cars24.com/buy-used-maruti-alto-80...

In [5]:
data.columns

Index(['Unnamed: 0', 'City', 'Year', 'Name', 'Car model', 'Car Price', 'KM',
       'Owner', 'Car Type', 'Car link'],
      dtype='object')

In [6]:
data['City'].unique()

array(['Pune', 'New Delhi', 'Mumbai', 'Hyderabad', 'Chennai', 'Bengaluru',
       'Ahmedabad'], dtype=object)

In [7]:
data.isnull().sum()

Unnamed: 0    0
City          0
Year          0
Name          0
Car model     0
Car Price     0
KM            0
Owner         0
Car Type      0
Car link      0
dtype: int64

In [8]:
data.isna().sum()

Unnamed: 0    0
City          0
Year          0
Name          0
Car model     0
Car Price     0
KM            0
Owner         0
Car Type      0
Car link      0
dtype: int64

In [9]:
data.to_csv("Cars24_data.csv")